$font: 'Inter', sans-serif;

$white: #ffffff;
$black: #000000;

// --- basic colors
$primary: #24405b;
$secondary: #e9ebee;
$success: #54CA91;
$danger: #FD6C6E;
$warning: rgb(255, 247, 0);
